p {
    font-family: 'Indie Flower', cursive;
}
img {
    width: 250px;
}
ul {color: white;
}
body {
    background-image: url("https://wallpapercave.com/wp/wc1715464.jpg");
    
}
p {font-size:40px;
}
h1 {
    font-family: 'Indie Flower', cursive;
}
